#asynchSearch-loading {
	height: 20px;
}
#asynchSearch-more {
	margin-top: 20px;
	margin-bottom: 50px;
	width: 95%;
	cursor: pointer;
	cursor: hand;
}
pre {
	text-align: left !important;
}
.popover {
	left: 20% !important;
}
.document-title {
	color: #777;
	font-weight:normal;
}